.container{
    width: 1200px;
    margin: 0-auto;
}

div{
    display:block;
}
#main-bio

body {
    color: #39a6b2;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: tomato;
}

body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
  }
  
  header a {
    color: #fce138;
  }

  header {
      /* apply styles to <header> */
      padding: 20px 35px;
      background-color: #39a6b2;
  }